/*reference code if custom hook "isSticky" is used*/
.navbar {
  position: fixed;
  top: calc(100% - 64px);
  left: 0;
  z-index: 1;
  width: 100%;
}

.navbar-sticky {
  position: fixed;
  top: calc(100% - 64px);
  left: 0;
}


@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
